<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-callinaction-1">
    <template>
        <div class="promo promo-light bottommargin">
            <h3>Call us today at <span>+91.22.57412541</span> or Email us at <span>support@canvas.com</span></h3>
            <span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span>
            <a href="#" class="button button-xlarge button-rounded">Start Browsing</a>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-callinaction-1",
    });
</script>