<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-footer">
    <template>
        <footer id="footer" class="dark">

            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        Copyrights &copy; 2016 北京阿舱科技教育有限公司<br>
                        <span>Developed by <a href="http://doudoujay.com">doudoujay.com</a></span>
                    </div>

                    <div class="col_half col_last tright">


                        <div class="clear"></div>

                        <i class="icon-envelope2"></i> <a href="mailto:hi@dengyuecang.com">hi@dengyuecang.com</a> <span class="middot">&middot;</span>
                    </div>

                </div>

            </div><!-- #copyrights end -->



        </footer><!-- #footer end -->
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-footer",
    });
</script>