<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-header">
    <template>
        <header id="header" class="semi-transparent full-header" data-sticky-class="no-dark">

            <div id="header-wrap" >

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/index.html" class="standard-logo" data-dark-logo="images/index/logo.png"><img
                                src="../images/index/logo.png" alt="Canvas Logo"></a>
                        <a href="/index.html" class="retina-logo" data-dark-logo="images/index/logo.png"><img
                                src="../images/index/logo.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="dark">

                        <ul>
                            <li id="dom-index"><a href="/index.html">
                                <div>主页</div>
                            </a>
                            </li>
                            <li id="dom-about"><a href="/about.html">
                                <div>关于我们</div>
                            </a>
                            </li>
                            <li id="dom-base"><a href="/lunarbase.html">
                                <div>月球基地</div>
                            </a>
                            </li>
                            </li>
                            <li id="dom-app"><a href="/app.html">
                                <div>app</div>
                            </a>
                            </li>


                            </li>
                            <li id="dom-makeschool"><a href="#">
                                <div>Makeschool</div>
                            </a>
                            </li>
                            <li id="dom-contact"><a href="/contact.html">
                                <div>联系我们</div>
                            </a>
                            </li>
                        </ul>

                        <!-- Top Search
                        ============================================= -->
                        <div id="top-search">
                            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                            <form action="../search.html" method="get">
                                <input type="text" name="q" class="form-control" value=""
                                       placeholder="输入关键字回车搜索">
                            </form>
                        </div><!-- #top-search end -->


                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->
    </template>
</dom-module>

<script>
    header = Polymer({
        is: "dom-header",
        properties:{
            current:{
                type: String,
                value: ''
//                Possible value index, contact...
            }

        },
        ready: function(){
            if(this.current != ''){
                document.getElementById(this.current).className = 'current';
            }

        }

    });



</script>