<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-pagetitle">
    <template>
        <section id="page-title" class="page-title-parallax page-title-dark page-title-right center" style="padding: 250px 0; background-image: url('../images/index/bg.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.2">

            <div class="container clearfix">
                <h1>月球基地</h1>

            </div>

        </section><!-- #page-title end -->
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-pagetitle",
    });
</script>